<ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="registro" href="/home-web/registro">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>registro</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="controladmin" href="/home-web/controladmin">
        <ion-icon name="keypad-outline"></ion-icon>
        <ion-label>Control remoto</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="crearperfil" href="/home-web/crearperfil">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Crear perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
