<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-grid class="form">
    <ion-row>
      <ion-col size-md="4" size-sm="10" offset-md="4" offset-sm="1" size-xs="12">
        <ion-row class="titulo" class="ion-justify-content-center">
          <h1>LOG IN</h1>
        </ion-row>  
        <ion-row>
          <ion-input label="Email" label-placement="floating" fill="outline" placeholder="ejemplo@gmail.com" type="email"></ion-input>
        </ion-row>
        <br>
        <ion-row>
          <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Password" type="password"></ion-input>
        </ion-row>
        <p>Olvidé mi <ion-router-link routerLink="">contraseña.</ion-router-link></p>
        <ion-button expand="block" (click)="Entrar()">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
