<ion-content [fullscreen]="true" class="content">
  <div class="container ion-text-center">
    <ion-label>Log in</ion-label>
    <p></p>
    <img src="./assets/logo.jpg" alt="">
  </div>
  <form [formGroup]="authForm">
    <ion-card class="email">
      <ion-input label="Email:" type="email" formControlName="usuario" placeholder="email@domain.com"></ion-input>
      <div *ngIf="authForm.get('usuario').invalid && authForm.get('usuario').touched">
        <small *ngIf="authForm.get('usuario').errors?.['required']">El usuario es obligatorio.</small>
      </div>
    </ion-card>
    <ion-card class="pass">
      <ion-input label="Password:" type="password" formControlName="password"></ion-input>
      <div *ngIf="authForm.get('password').invalid && authForm.get('password').touched">
        <small *ngIf="authForm.get('password').errors?.['required']">La contraseña es obligatoria.</small>
        <small *ngIf="authForm.get('password').errors?.['minlength']">La contraseña debe tener al menos 8
          caracteres.</small>
      </div>
    </ion-card>
    <ion-label color="danger">
      Olvide mi contraseña
    </ion-label>
    <ion-button class="btn_entrar" shape="round" expand="block" color="danger" [disabled]="authForm.invalid" (click)="Entrar(authForm)">
      Entrar
    </ion-button>
  </form>
</ion-content>