.config{
  text-align: right;
}


.btn_config{
  margin: 0;
  padding: 0;
  font-size: 35px;
  --color:currentColor;
  align-items: right;
}

.centro{
  
  justify-content: center;
  text-align: center;
}

.btn_user {
  margin: 0;
  padding: 0;
  font-size: 90px;
  --color: currentColor;
}

ion-avatar{ 
  margin: 0;
  padding: 0;
  font-size: 90px;
  --color: currentColor;
}
ion-router-link {
  margin-top: 4px; /* Ajusta este valor para controlar el espaciado */
  color: inherit; /* Hereda el color del padre */
  text-decoration: none; /* Quita el subrayado */
}