/* Centrando contenido dentro de las columnas */
.centro {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center;
  height: 100%; /* Asegura que el contenedor ocupe todo el espacio */
}

/* Tamaño y espaciado para avatar */
ion-avatar {
  height: 90px;
  width: 90px;
  margin: 0 auto; /* Centra horizontalmente el avatar */
}

/* Espaciado para los enlaces */
ion-router-link {
  margin-top: 10px;
  color: inherit;
  text-decoration: none;
}

/* Tamaños de íconos y espaciado */
.btn_user, .btn_pin, .btn_visitas, .btn_panico {
  font-size: 90px;
  margin-top: 20px; /* Ajusta el espaciado superior */
}

/* Alineación de la cuadrícula */
ion-row {
  align-items: center; /* Asegura que las filas estén centradas */
  height: auto; /* Permite que las filas se adapten a su contenido */
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que el contenido ocupe toda la ventana */
  padding: 16px;
}
