<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense"></ion-header>

  <ion-grid>
    <!-- Fila de perfil -->
    <ion-row class="center-row">
      <ion-col></ion-col>
      <ion-col class="centro" (click)="perfil()">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-router-link routerLink="/profile">Perfil</ion-router-link>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <!-- Fila de generación de código -->
    <ion-row class="center-row">
      <ion-col></ion-col>
      <ion-col class="centro" (click)="pin()">
        <ion-icon name="card-outline" class="btn_pin"></ion-icon>
        <ion-router-link routerLink="pin()">Generar código</ion-router-link>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <!-- Fila de generación de visita -->
    <ion-row class="center-row">
      <ion-col></ion-col>
      <ion-col class="centro" (click)="pin()">
        <ion-icon name="people-outline" class="btn_visitas"></ion-icon>
        <ion-router-link routerLink="/pin">Generar visita</ion-router-link>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <!-- Fila del botón de pánico -->
    <ion-row class="center-row">
      <ion-col></ion-col>
      <ion-col class="centro" (click)="toast('bottom')">
        <ion-icon name="close-circle-outline" class="btn_panico" color="danger"></ion-icon>
        <p>Botón de pánico</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
