.config {
  text-align: right;
}


.btn_config{
  margin: 0;
  padding: 0;
  font-size: 35px;
  --color:currentColor;
  align-items: right;
}

.centro {
  display: flex; /* Usa flexbox para centrar */
  flex-direction: column; /* Asegúrate de que los elementos se alineen en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.btn_user {
  margin: 0;
  padding: 0;
  font-size: 90px;
  --color: currentColor;
}

ion-avatar {
  margin: 0;
  padding: 0;
  height: 90px;
  width: 90px;
  --color: currentColor;
}

ion-router-link {
  margin-top: 10px; /* Ajusta este valor para controlar el espaciado */
  color: inherit; /* Hereda el color del padre */
  text-decoration: none; /* Quita el subrayado */
}

.btn_pin, .btn_visitas{
  margin-top: 40px;
  font-size: 90px;
}


.btn_panico{
  margin-top: 40px;
  font-size: 90px;
}